body{
background-size:cover;
}
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
    background-color: orange;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: rgb(0, 166, 255);
   color:white;
   line-height:2;
  margin:0px;
 

}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
      top:0;
  }
  .modal-content{
    width: 700px;
    height:500px;
    text-align:center;
    border-radius:5px;
    padding:20px;
    position:relative;
    font-family: 'Pangolin', cursive;
    font-weight:bold;

}
.close{
    position:absolute;
    top:0;
    right:14px;
    font-size:35px;
    cursor:pointer;

}
span{
    color:red;
    font-weight:bold;
    font-size:15px;


}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }
